/*========== GOOGLE FONT ==========*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLE CSS ==========*/
:root {
    --header-height: 3rem;

    /*========== COLORS ==========*/
    --hue-color: 211;
    --first-color: hsl(var(--hue-color), 92%, 48%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 69%, 61%);
    --first-color-lighter-dark: hsl(var(--hue-color), 8%, 15%);
    --article-title: hsl(var(--hue-color), 45%, 11%);
    --article-subtitle: hsl(var(--hue-color), 6%, 47%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 5%, 28%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --body-color: #fefcfb;
    --white-color: white;
    --black-color: black;

    /* Skill border */
    --skill-rating-border: 2px solid hsl(var(--hue-color), 0%, 20%);

    /* Skill container background color  */
    --skill-rating-background: hsl(var(--hue-color), 0%, 20%);

    /* Skill container border color */
    --skill-rating-border-radius: 5em;

    /* Skill progress backgroind color */
    --skill-rating-progress-background-color: hsl(var(--hue-color), 100%, 60%);

    /* Skill rating bar height */
    --skill-rating-height: .5em;

    /* Width of article logo */
    --article-logo-img-width: 4em;

    /*========== FONT & TYPOGRAPHY ==========*/
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 4rem;
    --bigger-font-size: 3rem;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== FONT WEIGHT ==========*/
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;

    /*========== MARGINS ==========*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Left margin of list items */
    --list-margin-left: 2rem;

    /*  Vertical gap between items withing article (content) */
    --article-row-gap: 1em;

    /*========== Z INDEX ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 5rem;
        --bigger-font-size: 4rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== BASE ==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: var(--body-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--black-color);
    overflow-x: hidden;
}

.counter-reset {
    counter-reset: page 1;
}

::-moz-selection {
    background: hsl(var(--hue-color), 69%, 80%);
    color: var(--white-color);
}

::selection {
    background: hsl(var(--hue-color), 69%, 80%);
    color: var(--white-color);
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    color: var(--title-color);
    font-weight: var(--font-600);
}

h4 {
    font-weight: var(--font-600);
    font-size: var(--h1-font-size);
    color: var(--text-color-light);
    margin: var(--mb-1-5) 0 0;
}

ul {
    display: grid;
    gap: .2rem;
    padding: 0;
    margin: .3rem 0 .5rem var(--list-margin-left);
}

li {
    margin-left: 2rem;
    list-style: circle;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.avoid-break-inside {
    display: block !important;
    /* never user flex with page-break */
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.avoid-break-inside-column {
    display: block !important;
    /* never user flex with page-break */
    -webkit-column-break-inside: avoid-column;
    page-break-inside: avoid-column;
    break-inside: avoid-column;
}

/*========== REUSABLE CSS ==========*/
section {
    padding: 2rem 0 4rem;
}

header {
    position: relative;
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-600);
    text-transform: capitalize;
    margin-bottom: var(--mb-0-75);
}

article {
    position: relative;
}

.article__title {
    font-weight: var(--font-600);
    font-size: var(--h2-font-size);
}

.article__subtitle {
    font-weight: var(--font-500);
    font-size: var(--h3-font-size);
    color: var(--text-color);
}

.article__url a {
    color: var(--text-color);
}

.article__date .date {
    display: flex;
    align-items: center;
    column-gap: var(--date-gap);
}

.article__date .duration {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-print-color-adjust: exact;
    text-align: center;
    font-size: var(--small-font-size);
    width: fit-content;
    border-radius: 0.3em;
    color: var(--white-color);
    background-color: var(--first-color-lighter-dark);
    padding: .5em;
}

.article__description {
    margin-top: var(--mb-1);
}

.list__label {
    font-weight: var(--font-500);
    font-size: var(--normal-font-size);
}

.article__img {
    width: var(--article-logo-img-width);
}

.article__list .list__label {
    display: block;
    color: var(--text-label-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-500);
    margin-top: .5rem;
}

.article__list ul {
    flex-grow: 1;
}

.article__url {
    color: var(--url-color);
}

/*======================================== CUSTOM ========================================*/
/* AWARDS */
.a-url {
    font-size: var(--small-font-size);
}

.article__list.skills ul {
    display: initial;
    margin-top: .2rem;
}

.article__list.skills li {
    list-style: none;
    display: inline;
}

.article__list.skills li:not(:empty, :last-child):after {
    content: ", ";
}

.r-c {
    gap: 1rem;
}

/* AWARDS */
:is(.awards, .publications) article {
    gap: 1rem !important;
}

/* LANGUAGES + INTEREST */
.l-c,
.i-c {
    gap: 1rem;
}

/* SKILLS */
.s-c {
    margin-top: 1rem;
    gap: 1rem !important;
}

.skills__progress {
    gap: .25rem !important;
}

.article__skills-title {
    font-weight: var(--font-500);
}

.skill-rating {
    -webkit-print-color-adjust: exact;
    height: var(--skill-rating-height);
    background: hsl(var(--hue-color), 100%, 87%);

    overflow: hidden;
    border-radius: var(--skill-rating-border-radius);
    -moz-border-radius: var(--skill-rating-border-radius);
    -webkit-border-radius: var(--skill-rating-border-radius);
    -ms-border-radius: var(--skill-rating-border-radius);
    -o-border-radius: var(--skill-rating-border-radius);
}

.skill-rating>div {
    height: 100%;
    border-radius: var(--skill-rating-border-radius);
    background-color: var(--first-color-second);
}

/*========== LAYOUT ==========*/
.main {
    padding: var(--mb-1);
}

.container {
    /* max-width: 968px; */
    max-width: 1024px;
    width: calc(100% - 3rem);
}

.grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-3);
}

.s-grid {
    display: -ms-grid;
    display: grid;
    gap: var(--mb-1);
}

.a-grid {
    display: -ms-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: var(--first-color-lighter-dark);
    gap: var(--mb-1);
}

.wrapper {
    margin: var(--mb-1-5) 0;
}

.hide {
    display: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.with-header-date-logo .article-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

:is(.languages, .references) .article-container {
    gap: 1.75rem;
}

.references .article__description {
    margin-top: 0;
}

/*========== HOME SECTION ==========*/
.basics header {
    display: none;
    user-select: none;
}

.profile__img {
    display: block;
    margin: auto;
    margin-bottom: var(--mb-1);
    border-radius: .5rem;
}

.home__title {
    font-size: var(--big-font-size);
    font-weight: var(--font-700);
    line-height: 1.2;
    margin-top: var(--mb-1);
    color: var(--first-color);
}

.home__subtitle {
    font-weight: var(--font-600);
    font-size: var(--h3-font-size);
    line-height: 1;
    margin-top: var(--mb-0-5);
}

.home-content {
    margin-top: var(--mb-1);
    gap: var(--mb-0-25);
}

.home-content .fas,
.home-content .far {
    color: var(--first-color);
}

.basics__item,
.basics__item a {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--mb-1);
    color: var(--text-color);
    font-weight: var(--font-500);
}

.home__description {
    margin-top: var(--mb-1);
}

.basics {
    position: relative;

}

.home__title,
.home__subtitle,
.home__description {
    text-align: center;
}

.home__title::before,
.home__title::after,
.home__subtitle::before,
.home__subtitle::after,
.home__description::before,
.home__description::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    opacity: .5;
    background-color: var(--first-color);
}

.home__title::before {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    top: -3rem;
    right: 1rem;
    transform: rotate(45deg);
}

.home__title::after {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    top: 16rem;
    right: 14rem;
    transform: rotate(75deg);
}

.home__subtitle::before {
    clip-path: circle(50% at 50% 50%);
    top: -1rem;
    left: -2rem;
}

.home__subtitle::after {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    bottom: -1rem;
    right: 2rem;
}

.home__description::before {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    top: 7rem;
    left: -14rem;
    transform: rotate(75deg);
}

.home__description::after {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    bottom: -1rem;
    right: -14rem;
    transform: rotate(104deg);
}

/*========== PROFILES ==========*/
.profiles .article-container {
    flex-direction: row;
    display: flex;
    gap: var(--profiles-icon-gap);
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: center;
}

.profiles .icon {
    font-size: 1.5em;
    color: var(--first-color-lighter);
}

/*======================================== SKILLS ========================================*/
.skills .article-container .skill-item>* {
    margin-bottom: 0.5em;
}

.skills .article-container .skill-item>*:last-child {
    margin-bottom: 0;
}

.skills .article-container .article__title {
    display: flex;
    flex-direction: column;
    gap: var(--article-row-gap);
}


/*========== ICONS ==========*/
.icon {
    font-style: normal;
    margin-right: 0;
    width: 0.6em;
    color: var(--icon-color);
}

.icon.twitter:before {
    content: "\f099";
}

.icon.github:before {
    content: "\f09b";
}

.icon.facebook:before {
    content: "\f39e";
}

.icon.instagram:before {
    content: "\f16d";
}

.icon.xing:before {
    content: "\f168";
}

.icon.behance:before {
    content: "\f39e";
}

.icon.dribbble:before {
    content: "\f17d";
}

.icon.medium:before {
    content: "\f23a";
}

.icon.linkedin:before {
    content: "\f08c";
}

/* ========== SCROLL-BAR ========== */
::-webkit-scrollbar {
    width: 8px;
}

/* SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
    background: var(--first-color);
    background-repeat: no-repeat;
    border-radius: 3px;
}

/* SCROLLBAR TRACK */
::-webkit-scrollbar-track {
    background: transparent;
}

/* SCROLLBAR THUMB : HOVER */
::-webkit-scrollbar-thumb:hover {
    background: var(--first-color-alt);
}


/*========== MEDIA QUERIES ==========*/
/*~~~~~~~~~~~~~ screen ~~~~~~~~~~~~~*/
@media screen {
    .margin-box {
        display: none;
    }

    body {
        line-height: var(--layout-default-line-height);
        margin: 0;
    }

    .article-container.two-column article {
        margin-bottom: var(--article-row-gap);
    }

    .area {
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
        z-index: -11111;
    }

    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: hsla(211, 92%, 48%, .2);
        animation: animate 60s linear infinite;
        bottom: -150px;
        -webkit-animation: animate 60s linear infinite;
    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }


    .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 12s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        -webkit-animation-delay: 4s;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-duration: 18s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        -webkit-animation-delay: 7s;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        -webkit-animation-delay: 15s;
        animation-delay: 15s;
        -webkit-animation-duration: 45s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-duration: 35s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
        -webkit-animation-duration: 11s;
        animation-duration: 11s;
    }

    @-webkit-keyframes animate {
        0% {
            -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-5600px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
            -webkit-transform: translateY(-5600px) rotate(720deg);
            -moz-transform: translateY(-5600px) rotate(720deg);
            -ms-transform: translateY(-5600px) rotate(720deg);
            -o-transform: translateY(-5600px) rotate(720deg);
        }
    }

    @keyframes animate {
        0% {
            -webkit-transform: translateY(0) rotate(0deg);
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100% {
            transform: translateY(-5600px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
            -webkit-transform: translateY(-5600px) rotate(720deg);
            -moz-transform: translateY(-5600px) rotate(720deg);
            -ms-transform: translateY(-5600px) rotate(720deg);
            -o-transform: translateY(-5600px) rotate(720deg);
        }
    }
}

@media screen and (max-width: 350px) {
    .main-wrapper .container {
        margin-left: var(--mb-0-5) !important;
        margin-right: var(--mb-0-75) !important;
    }
}

@media screen and (max-width: 486px) {
    .main {
        padding: 0;
    }

    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-0-75);
    }
}



@media print, screen and (min-width: 486px) {
    .container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
}

@media print, screen and (min-width: 786px) {
    .main {
        margin: auto;
        max-width: 1024px;
    }

    .article__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2rem;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .basics,
    .main-wrapper {
        grid-template-columns: .55fr 1fr;
        gap: 1rem;
    }

    .basics {
        gap: 2.8rem;
    }

    .profile__img {
        margin: initial;
        width: 400px;
    }

    .home__title,
    .home__subtitle,
    .home__description {
        text-align: initial;
    }

    .basics__item {
        justify-content: flex-start;
    }

    .home__title::before {
        top: -3rem;
        right: 1rem;
    }

    .home__title::after {
        top: 8rem;
        right: 14rem;
    }

    .home__subtitle::before {
        top: -1rem;
        left: -2rem;
    }

    .home__subtitle::after {
        bottom: -1rem;
        right: 2rem;
    }
}

@media print {
    .main {
        background-image: none;
    }

    .area,
    .area>* {
        display: none;
        user-select: none;
    }

    .main-wrapper {
        grid-template-columns: none;
        max-width: none;
        margin: 0;
        gap: 0;
    }

    .right {
        order: -1;
    }

    :is(.awards, .references, .publications) article,
    .with-header-date-logo .article__title,
    .with-header-date .article__title {
        display: initial;
    }

    .profiles,
    .basics {
        display: none;
        user-select: none;
    }

    :is(.skills, .languages, .interests) .article-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagedjs_margin {
        font-size: var(--print-margin-font-size);
    }

    /* main margin boxes */
    .footer-print {
        position: running(footerRunning);
    }

    .user-compact-print {
        position: running(userCompactRunning);
    }

    .last-update-print {
        position: running(lastUpdateRunning);
    }

    .available-from-print {
        position: running(availableFromRunning);
    }

    @page {
        size: A4;

        @top-right {
            content: element(lastUpdateRunning);
        }

        @top-left {
            content: element(userCompactRunning);
        }

        @bottom-right {
            content: counter(page);
        }

        @bottom-left {
            content: element(footerRunning);
            width: 40mm;
        }

        @bottom-center {
            content: element(availableFromRunning);
        }
    }

    /* table of contents */
    @page table-of-contents {
        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .table-of-contents {
        page: table-of-contents;
    }

    .toc-header {
        margin-bottom: 1rem;
        border-bottom: 0.375rem solid black;
    }

    ol, ul {
        padding-inline-start: 0;
    }

    ol, ul a {
        text-decoration: none;
    }

    .toc-element-level-1 {
        font-size: 0.5cm;
    }

    .toc-element-level-2 {
        font-size: 0.4cm;
    }

    .toc-element-level-1 a, .toc-element-level-2 a {
        color: black;
    }

    #list-toc-generated li {
        margin-left: 0;
        width: 100%;
        list-style-type: none;
    }

    #list-toc-generated .toc-element a::after {
        content: target-counter(attr(href), page);
    }

    #list-toc-generated .toc-element-level-1 {
        border-bottom: 0.0625rem solid black;
        margin-top: 2rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        font-weight: bold;
    }

    #list-toc-generated {
        overflow-x: hidden;
    }

    #list-toc-generated .toc-element a {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    #list-toc-generated .toc-element a::after {
        background-color: white;
    }

    .page-break {
        break-after: page;
    }

    /* cover */
    @page: first {

        @top-right {
            content: none;
        }

        @top-left {
            content: none;
        }

        @bottom-right {
            content: none;
        }

        @bottom-left {
            content: none;
        }
    }

    .cover-page .main-skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4mm;
    }

    .cover-page .main-skills ul {
        display: flex;
        flex-direction: row;
        gap: 0.5cm;
        margin: 0;
        padding: 0;
    }

    .cover-page .main-skills .list__label {
        font-size: var(--big-font-size);
        text-align: center;
        font-weight: var(--font-600);
    }

    .cover-page .main-skills li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: var(--normal-font-size);
    }

    .cover-page {
        page: cover-page;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap: 2cm;
        font-family: var(--second-font);
    }

    .cover-page__main-skills {
        display: flex;
        flex-direction: row;
    }

    .cover-page h1 {
        font-size: var(--big-font-size);
        font-family: var(--body-font);
        line-height: 1;
    }

    .cover-page h3 {
        margin: -.75rem 0 .5rem;
        font-size: var(--h2-font-size);
        font-weight: var(--font-500);
    }

    .cover-page .cover-page__contact {
        font-size: var(--smaller-font-size);
        display: flex;
        align-items: center;
        column-gap: .7rem;
    }

    /* .cover-page h1,
    .cover-page h3,
    .cover-page p,
    .cover-page .article__list,
    .cover-page .cover-page__contact,
    .cover-page .article__url,
    .cover-page .article__mail,
    .cover-page .article__phone,
    .cover-page__social .icon {
        -webkit-print-color-adjust: exact;
        color: black !important;
    } */

    .cover-page__header {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 3mm;
    }

    .cover-page__header .profile__img {
        width: 10cm;
        height: auto;
        display: block;
        margin: 1rem auto 0;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
    }

    /* TRIED TO CREATE GAP BETWEEN ICONS AND TEXT */
    .cover-page__contact>* {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: .5rem;
    }

    .cover-page__social {
        display: flex;
        flex-direction: row;
        gap: 2em;
    }

    .cover-page__social .icon {
        font-size: 16pt;
    }

    .cover-page__header .summary {
        text-align: center;
        margin-top: 0.5em;
    }

    /* availability */
    .available-from-print .icon {
        margin-top: 1.5mm;
        margin-left: 1.5mm;
        font-size: 2mm;
        position: absolute;
    }

    .available-from-print.now-available-yes i {
        color: green;
    }

    .available-from-print.now-available-no i {
        color: red;
    }
}

/*======================================== INTERACTIVE ========================================*/
.INTERACTIVE .nav-add {
    margin-top: 1em;
    margin-bottom: 2em;
}

.INTERACTIVE .profiles article {
    padding: 2em 0;
}

.INTERACTIVE .profiles .article-container {
    display: flex;
    flex-direction: column;
}

html:not(.INTERACTIVE) .profiles article .profile-item {
    display: inline-block;
}